body {
    margin: 0;
    padding: 0;
    background-color: gray;
  }

  #sections {
    display: grid;
    grid-column: 1 / 3;
    margin: 20px;
  }
  .nav-sm {
    /*display: none;*/
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    display: none;
  }
  .nav-md {
    display: none;
  }
  .nav-lg {
    display: none;
  }
  #elemSubtlFecha {
    font-size: xx-small;
    position: fixed;
    top: 0;
    left: 10px;
    color: rgb(22, 111, 0);
    background-color: black;
  }

  /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #elemSubtlFecha {
    font-size: xx-small;
    position: fixed;
    top: 0;
    left: 10px;
    color: rgb(79, 24, 230);
    background-color: black;
  }
  #sections {
    display: flex;
  }
  .card {
    margin: 10px;
  }
}